<link rel="stylesheet" href="/style.css">
<form action="/register" method="post">
    
    <div class="mainDiv">
        <img src="https://m.media-amazon.com/images/G/01/imdb/authportal/images/www_imdb_logo._CB667618033_.png" alt="IMDB"/>
        <div id="error-container">
        </div>
        <legend>Create Account</legend>
        <% { %>
            Your name:          <input type="text" name="yourName" value="" /><br><br>
            email:              <input type="email" name="email" value="" /><br><br>
            password:           <input type="password" name="password" value="" /><br><br>
            Re-enter password:  <input type="password" name="reenterpassword" value="" /><br><br>

            <% if (error) { %>
                <p class="error-message"><%= error %></p>
            <% } %>

        <% } %>
    </div>
    <input type="submit" onclick="getUsers()" value="Create your IMDb account" /><br><br>
    
    
</form>
